# Set the default behavior, in case people don't have core.autocrlf set.
#* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.h text  eol=crlf
*.cpp text eol=crlf
#*.dfm text  eol=crlf #dfm can be BINARY
#*.txt text

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf

# Declare files that will always have LF line endings on checkout.
*.php text eol=lf
*.htc text eol=lf
*.ini text eol=lf
*.pss text eol=lf
*.svg text eol=lf
*.js text eol=lf
*.sh text eol=lf
*.service text eol=lf
iso3166.tab text eol=lf
config.* text eol=lf
*.patch text eol=lf


# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
./rtkbase_install.sh binary
Install/rtkbase_install.sh binary
install.sh binary
*.exe binary
