[Unit]
Description=RTKBase system configure at start
After=local-fs.target
After=network.target

[Service]
ExecStart=/usr/local/rtkbase/RtkbaseSystemConfigureProxy.sh
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=multi-user.target
